# Control Signals
set_io clk 61
set_io reset 25       #button 0

# Sdram Address
set_io sdram_a[0] 118
set_io sdram_a[1] 117
set_io sdram_a[2] 116
set_io sdram_a[3] 101
set_io sdram_a[4] 81
set_io sdram_a[5] 83
set_io sdram_a[6] 90
set_io sdram_a[7] 91
set_io sdram_a[8] 82
set_io sdram_a[9] 84
set_io sdram_a[10] 119
set_io sdram_a[11] 85
set_io sdram_a[12] 87

#SDRAM Data
set_io sdram_dq[0] 96
set_io sdram_dq[1] 97
set_io sdram_dq[2] 98
set_io sdram_dq[3] 99
set_io sdram_dq[4] 95
set_io sdram_dq[5] 80
set_io sdram_dq[6] 79
set_io sdram_dq[7] 78

#SDRAM Control Signals

set_io sdram_ba[0] 121
set_io sdram_ba[1] 120
set_io sdram_cke 88
set_io sdram_ras_n 124
set_io sdram_cas_n 125
set_io sdram_we_n 128
set_io sdram_cs_n 122
set_io sdram_dm 94

# Init
set_io init_done 28     #led 0
set_io init_error 29    #led 1

#gpmc
set_io gpmc_ad[0] 134
set_io gpmc_ad[1] 136
set_io gpmc_ad[2] 21
set_io gpmc_ad[3] 22
set_io gpmc_ad[4] 135
set_io gpmc_ad[5] 138
set_io gpmc_ad[6] 23
set_io gpmc_ad[7] 24
set_io gpmc_ad[8] 139
set_io gpmc_ad[9] 2
set_io gpmc_ad[10] 1
set_io gpmc_ad[11] 141
set_io gpmc_ad[12] 16
set_io gpmc_ad[13] 3
set_io gpmc_ad[14] 144
set_io gpmc_ad[15] 143

#gpmc control
set_io gpmc_advn 19
set_io gpmc_csn1 137 
set_io gpmc_clk 142
set_io gpmc_wein 18
set_io gpmc_oen 20

# LED
set_io pmod3[0] 107 # PMOD3 B1
set_io pmod3[1] 112 # PMOD3 B2
set_io pmod3[2] 114 # PMOD3 B3
set_io pmod3[3] 129 # PMOD3 B4
set_io pmod3[4] 110 # PMOD3 A1
set_io pmod3[5] 113 # PMOD3 A2
set_io pmod3[6] 115 # PMOD3 A3
set_io pmod3[7] 130 # PMOD3 A4

